server:
  port: 8001
  context-path: /app
  servlet-path: /
logging:
  config:
    classpath:logback-springboot-${spring.profiles.active}.xml

spring:
  application:
    name: app-api
  profiles:
      active: dev
  datasource:
    #name: pretty-api
    url: jdbc:mysql://47.99.207.124:3306/app?characterEncoding=utf8&autoReconnect=true&tinyInt1isBit=false
    username: root
    password: Chen+627
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  http:
    encoding:
      charset: utf-8
      enabled: true
mybatis:
    type-aliases-package: com.app.api.**.entity
    mapper-locations: classpath:mapper/**/*.xml
    config-locations: classpath:conf/mybatis-config.xml

mapper:
    mappers: com.app.core.base.dao.BaseMapper
    not-empty: false
    identity: MYSQL

pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql